absl-py==2.3.1
astor==0.8.1
bleach==6.2.0
bottle==0.13.4
click==8.2.2
certifi==2025.8.3
chardet==5.2.0
flask==3.1.2
future==1.0.0
gast==0.6.0
grpcio==1.74.0
gunicorn==23.0.0
h5py==2.10.0
html5lib==1.1
itsdangerous==2.2.0
idna==3.10
Jinja2==3.1.6
line-bot-sdk==3.19.0
Markdown==3.8.2
MarkupSafe==3.0.2
numpy==2.3.2
oauthlib==3.3.1
pillow==11.3.0
protobuf==6.32.0
PyYAML==6.0.2
python-dotenv==1.1.1
requests==2.32.5
scipy==1.16.1
six==1.17.0
tensorboard==2.20.0
tensorflow-cpu==2.20.0
termcolor==3.1.0
urllib3==2.5.0
Werkzeug==3.1.3
